#Ignore apache files in dev path
/MinecraftServer/apache-maven-3.6.0/
MinecraftServer/BuildData
MinecraftServer/CraftBukkit
MinecraftServer/BuildData
MinecraftServer/CraftBukkit
MinecraftServer/BuildData
MinecraftServer/CraftBukkit
